<p><%= link_to "&larr; Back".html_safe, app_path %> to list of customers.</p>

<h1>Importing <code><%= @customer_import.uploaded_file.filename %></code></h1>

<p>
  <%= link_to "Invalid data", '#' %> (4)
  <%= link_to "Duplicate data", '#' %> (2)
  <%= link_to "Ignored data", '#' %> (0)
  <%= link_to "Valid data", '#' %> (52)
</p>

<table class="plain-table">
  <thead>
    <tr>
      <th>Company *</th>
      <th>Address</th>
      <th>User name</th>
      <th>User email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shape x SitDown</td>
      <td>
        Njalsgade 17A<br>
        2300 København S<br>
        Denmark
      </td>
      <td>Orhan Toy</td>
      <td>orhan.toy@cargoflux.com</td>
    </tr>
  </tbody>
</table>
