<h1>Customers</h1>

<p>
  <%= link_to "Import customers", new_app_customer_import_path %>
</p>

<table class="plain-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td>
          <%= customer.address %><br>
          <%= customer.city %>
        </td>
        <td><%= customer.country_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
